  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-top: 15%;
  }
  .h-btn{
    padding: 50px;
    font-size: 50px;
  }
  .mid-sec{
    text-align: center;
    padding-top: 5%;
  }